* {
  background: whitesmoke;
}

input {
  border-radius: 5px;
}

button {
  border-radius: 5px;
}

.btn-delete {
  background: rgb(233, 17, 17);
}

.btn-update {
  background: rgb(12, 172, 201);
}

h3 {
  text-align: center;
  background: rgb(50, 185, 219);
}

.seller-card {
  display: inline-block;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 10px;
}

.seller-card button {
  margin-right: 5px;
}

table {
  border-collapse: collapse;
}

caption {
  width: 420px;
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding-inline: 20px;
}

.sale {
  display: flex;
}

.sale-card {
  border: 1px solid black;
  margin-left: 10px;
  padding: 5px;
}

.sale-card h2 {
  text-align: center;
}



