.logo {
  cursor: pointer;
}

.section {
  background: green;
}

.navbar {
  background: rgb(227, 251, 231);
}

.form {
  background-color: rgb(194, 222, 194);
  border-radius: 10px;
}

.form .form-control {
  background-color: rgb(228, 233, 228);
}

.btn-gr {
  background-color: rgb(166, 243, 171);
  border: 1px solid green;
}
